{{!< layout/html-struct}}

{{#contentFor 'pageStyles'}}
  <link rel="stylesheet" href="../css/page.css">
  <script type="text/javascript" src="/js/formSerializer.js"></script>
{{/contentFor}}
  <div class="panel panel-primary" id='student-info-frame'>
   <div class="panel-body" id='student-info'>
      <h4>{{name}}</h4>
      <table class="table">
         <tr>
           <td>姓名：</td>
           <td>时间：100分钟</td>
           <td>班级：</td>
           </tr>
      </table>
      {{#each array}}
        {{questionContent}} <p>
        {{answerA}} <p>
        {{answerB}} <p>
        {{answerC}} <p>
        {{answerD}} <p>
      {{/each}}
   </div>
  </div>
